*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.box {
	background-color: white;
	width: 6.25rem;
	height: 6.25rem;
	border: 1px solid #95a5a6;
	margin: .35rem;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.box:hover {
	border: 1px solid gray;
}

.container {
<<<<<<< HEAD
	width: 85%;
	max-width: 20.9rem;
=======
	max-width: 40rem;
>>>>>>> e21185f04d764e03442b79d1368f0aea135b47d1
	margin: 0 auto;
	margin-top: 5rem;
}

.blue {	background-color: #497bad; border: none; } 
.green { background-color: #27ae60; border: none; }

.banner {
		text-align: center; 
		font-size: 1.5rem;
		margin-bottom: 3.5rem;
		color: #d4d4d4;
		letter-spacing: 2px;
		text-align: center;
}

/*.question-mark {

}*/

input[type="button"] {
	margin-top: 1rem;
	margin-right: 5px;
	float:right;
	padding: 8px;
	width: 100px;
	border-radius: 5px;
	color: #555;
	background-color: white;
	border: 1px solid #95a5a6;
	text-transform: uppercase;
	font-size: .7rem;
	letter-spacing: 1px;
<<<<<<< HEAD
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

input[type="button"]:focus {
	outline: none;
}
input[type="button"]:hover {
	background-color: #D4D4D4;
	color: white;
}

@media (max-width: 40rem) {
	html { font-size: 81%;}
}
=======
}

@media (max-width: 40rem) {

}
>>>>>>> e21185f04d764e03442b79d1368f0aea135b47d1
