*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.box {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	margin: .35rem;
	display: inline-block;
	cursor: pointer;
	box-shadow: 5px 5px 5px black;
}
.container {
	max-width: 350px;
	margin: 0 auto;
	padding-top: 5rem;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}