*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 85%;
	max-width: 20.9rem;
	margin: 0 auto;
	margin-top: 5rem;
}

.box {
	background-color: white;
	width: 6.25rem;
	height: 6.25rem;
	border: 1px solid #95a5a6;
	margin: .35rem;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.box:hover { border: 1px solid gray; }

.blue {	background-color: #497bad; border: none; } 
.green { background-color: #27ae60; border: none; }

.banner {
		text-align: center; 
		font-size: 1.5rem;
		margin-bottom: 3.5rem;
		color: #d4d4d4;
		letter-spacing: 2px;
}

/*#question-mark { }*/

#reset-button {
	margin-top: 1rem;
	margin-right: 5px;
	float:right;
	padding: 8px;
	width: 100px;
	border-radius: 5px;
	color: #555;
	background-color: white;
	border: 1px solid #95a5a6;
	text-transform: uppercase;
	font-size: .7rem;
	letter-spacing: 1px;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#reset-button:focus { outline: none; }
#reset-button:hover {
	background-color: #D4D4D4;
	color: white;
}

/* Chat Stuff 
=================== */

.chat-widget {
	position: absolute;
	z-index: 3;
	overflow: none;
	/*right: 0;*/
	box-shadow: 1px 0 5px rgba(0,0,0,0.3);
}
.chatarea {
	z-index: -99;
	overflow:scroll;
	word-wrap: break-word;
}
.chatarea p {
	word-wrap: break-word;
	margin: 5px;
	color: #333;
}
#chat-input {
	z-index: 1;
	position: relative;
	bottom: 0;
	width: 200px;
	padding: 10px;
	font-size: 0.8rem;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: none;
	border-right: none;
	/*float:left;*/
}
#chat-input:focus {
	outline: none;
}

.collapsed {
	width: 0;
	height: 0;
	overflow: hidden;
}

.expanded {
	width: 200px;
	height: 150px;
	padding: 5px 5px 30px 5px;
}

.chat-widget a {
	text-decoration: none;
	color: rgba(0,0,0,.5);
	font-size: 0.6rem;
	float: right;
	margin-top: -2px;
	padding: 8px;
	z-index: 5;
	display: inline-block;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
	box-shadow: 1px 0 5px rgba(0,0,0,0.3);
}

/* Media Queries 
================== */

@media (max-width: 40rem) {
	html { font-size: 81%;}
	.chat-widget {
		margin-top: 3rem;
		max-width: 200px;
		position: inherit;
	}

}
