*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.box {
	background-color: white;
	width: 100px;
	height: 100px;
	border: 1px solid #95a5a6;
	margin: .35rem;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	transition: background-color .5s ease;
}
.container {
	max-width: 334px;
	margin: 0 auto;
	margin-top: 10rem;
}

.blue {
	background-color: #497bad;
}

.green {
	background-color: #27ae60;
}