*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.box {
	background-color: white;
	width: 100px;
	height: 100px;
	border: 1px solid #95a5a6;
	margin: .35rem;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	transition: background-color .5s ease;
}
.container {
	max-width: 334px;
	margin: 0 auto;
	margin-top: 10rem;
}

.blue {
	background-color: #497bad;
}

.green {
	background-color: #27ae60;
}

.banner {
	float:left;
	margin: 10px 0 0 100px;
}


input[type="button"] {
	margin-top: 1rem;
	margin-right: 5px;
	float:right;
	padding: 8px;
	width: 100px;
	border-radius: 5px;
	color: #555;
	background-color: white;
	border: 1px solid #95a5a6;
	text-transform: uppercase;
	font-size: .7rem;
	letter-spacing: 1px;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
input[type="button"]:focus {
	outline: none;
}
input[type="button"]:hover {
	background-color: #D4D4D4;
	color: white;
}

